h1,
h2,
h3,
h4 {
  font-family: "Varela Round", Sans-Serif;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  font-family: "Noto Serif", Serif;
}

img,
iframe {
  border: none;
  display: block;
  margin: 0 auto;
}

.card {
  width: 90%;
}

.row {
  margin-top: 5vw;
  margin-bottom: 2.5vw;
}

.modal-dialog {
  margin-left: 20vw;
  margin-right: 20vw;
  max-width: 100%;
  width: 60%;
}

.card-body {
  padding: 4rem;
}

/* NavBar */
.navbar {
  background-color: #111f4d;
}

.navbar-dark .navbar-toggler {
  color: #fdfdfe;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fdfdfe;
}

/* body */
body {
  padding-top: 100px;
  background-color: #f2f4f7;
}

.jumbotron {
  background-image: url("./banner.jpg");
  background-size: cover;
  background-position: center;
  height: 75vh;
}

.display-4,
.lead {
  color: #fdfdfe;
}

/* butones */
.btn {
  margin-left: 2vw;
  margin-right: 2vw;
}

.btn-primary {
  border-color: #e43a19;
  background-color: #e43a19;
}

.btn-primary:focus,
.btn-primary:disabled,
.btn-primary:hover {
  border-color: #f73008;
  background-color: #f73008;
}
