h1,
h2,
h3,
h4 {
  font-family: "Varela Round", Sans-Serif;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
h4 {
  margin-left: -1.3rem;
  margin-top: 1rem;
}

a {
  font-family: "Noto Serif", Serif;
}

img,
iframe {
  border: none;
  display: block;
  margin: 0 auto;
}

.card {
  width: 90%;
}

.row {
  margin-top: 3vw;
  margin-bottom: 4vw;
}

.modal-dialog {
  margin-left: 20vw;
  margin-right: 20vw;
  max-width: 100%;
  width: 60%;
}

.card {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.card-body {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* NavBar */
.navbar {
  background-color: #111f4d;
}

.navbar-dark .navbar-toggler {
  color: #fdfdfe;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fdfdfe;
}

/* body */
body {
  padding-top: 100px;
  background-color: #f2f4f7;
}

.jumbotron {
  background-image: url("./banner.jpg");
  background-size: cover;
  background-position: center;
  height: 75vh;
}

.display-4,
.lead {
  color: #fdfdfe;
}

/* butones */
.btn {
  margin-left: 2vw;
  margin-right: 2vw;
}

.btn-primary {
  border-color: #e43a19;
  background-color: #e43a19;
}

.btn-primary:focus,
.btn-primary:disabled,
.btn-primary:hover {
  border-color: #f73008;
  background-color: #f73008;
}

.btn-light {
  color: #ff0000;
  background-color: white;
  border-color: white;
  padding: 0;
  margin-top: 1.5em;
}

.btn-light:focus,
.btn-light:hover,
.btn-light:disabled {
  color: white;
  background-color: #ff0000;
  border-color: #ff0000;
}

#createForm .form-group {
  outline: 1px solid #000;
  outline-color: rgba(50, 115, 220, 0.7);
  outline-offset: 6px;
  margin-bottom: 1.5rem;
}
#createForm .col-sm-8 {
  outline: 1px solid #000;
  outline-color: rgba(50, 115, 220, 0.7);
  outline-offset: 6px;
}

.col-sm-2 {
  text-align: center;
}

#checkLink {
  margin-left: 1vw;
  margin-top: 20px;
}

#createForm #title,
#createForm #description,
#createForm #habeasd {
  width: 55vw;
}

#createForm #URL {
  width: 55vw;
}

#h5CreateTest {
  padding-bottom: 1em;
}

.br {
  height: 1.2em;
}

.5br {
  height: 6em;
}

#modalTextArea {
  width: 50vw;
}

#linkAnon {
  color: #fdfdfe;
}

#TestAnswersCard .btn-primary {
  margin-left: 0;
  margin-top: 0.7em;
}

.pagination a {
  color: #111f4d;
}
